<html>

    <head>

    
       

<!-- 
       <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
       <script src="/jquery/dist/jquery.min.js"></script> -->
       
       <%- include ('head'); -%>
       
       <script>

        function deleteRow(ID,Obj)
        {
        $.ajax({
    
            url:"http://localhost:8082/speakers/delete/"+ID,
            dataType:"text",
            method:"get",
           success:function(result){
    
    
                $(Obj).parents("tr").remove();
            
    
           },
    
           error:function(error){
    
                console.log(error);
           }
           
    
        });
    }
    
    </script>

    </head>
    <body>

        <table>
            <tr>
                <td>id</td>
                <td>Name</td>
                <td>Age</td>
            </tr>

           
                <% speakerdata.forEach((item)=>{%>
                    <tr> 
                    <td><%= item._id%></td>
                    <td><%= item.username%></td>
                    <td><%= item.age%></td>
                    <td><a href="/speakers/update/<%= item._id%>" class="btn btn-primary">Edit</a></td>
                    <td><a href="#" class="btn btn-danger" onclick="deleteRow(<%= item._id%>,this)">Delete</a></td>
                    <td>Picture</td>
                    </tr>
                <%});%>

            

        </table>




    </body>


</html>